langchain
langchain-core
langchain-community
langchain-openai
langchain-google-genai
langchain-ollama
langchain-chroma
langchain-text-splitters
chromadb
faiss-cpu
sentence-transformers
pypdf
python-dotenv
tiktoken
openai
ipykernel
jupyter
langchain-mistralai
fastapi
uvicorn
pydantic
